MAGENTO_BASE_URL=https://example-magento-store.com
MAGENTO_ACCESS_TOKEN=replace-with-magento-admin-token
MAGENTO_ENABLED=false
MAGENTO_DRY_RUN=true
ALLOW_AMAZON_FALLBACK=false
BROWSER_FALLBACK_ENABLED=true
PLAYWRIGHT_HEADLESS=true
TESSERACT_CMD=
